*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: ghostwhite;
  font-family: sans-serif;
  color: rgba(44, 39, 39, 0.712);
  font-weight: 100;
}

h1{
  font-family: 'Roboto', sans-serif;
  font-size: 2.3rem;
  margin-bottom: 20px;
}

.container{
  margin-top: 100px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.inputSearch{
  width: 60vw;
  font-size: 1.3rem;
  color: gray;
  padding: 15px;
  padding-left: 50px;
  outline: none;
  border: none;
  box-shadow: 0px 0px 10px 0px rgba(12, 8, 8, 0.253);
  border-radius: 50px;
}

.inputSearch:focus{
  border: 2px solid rgba(28, 185, 177, 0.863);;
}

#form{
  display: flex;
  justify-content: start;
  align-items: center;
  position: relative;
}

.submitBtn{
  position: absolute;
  padding: 15px;
  font-size: 1.5rem;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  color: rgb(28, 185, 178);
}

.ingredients{
  margin-top: 100px;
}

.ingred{
  width: 200px;
  min-height: 50px;
  border: 1px solid rgba(0, 255, 0, 0.281);
  background-color: rgba(0, 128, 0, 0.219);
  overflow:auto;
}


@media (max-width: 1000px){
 
  .inputSearch{
    width: 95vw;
    font-size: 1.3rem;
    color: gray;
    padding: 15px;
    padding-left: 50px;
    outline: none;
    border: none;
    box-shadow: 0px 0px 10px 0px rgba(12, 8, 8, 0.253);
    border-radius: 50px;
  }
  
}