*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: ghostwhite;
  font-family: sans-serif;
  color: rgba(44, 39, 39, 0.712);
  font-weight: 100;
  overflow-x: hidden;
}

@keyframes ex{
  from{
    transform: scale(1);
  }
 to{
    transform: scale(1.5);
  }
}


h1{
  font-family: 'Roboto', sans-serif;
  font-size: 2.3rem;
  margin-bottom: 20px;
  text-align: center;
}

.wrapper-for-buttons{
  width: 90vw;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.inputSearch{
  width: 60vw;
  font-size: 1.3rem;
  color: gray;
  padding: 15px;
  padding-left: 50px;
  outline: none;
  border: none;
  box-shadow: 0px 0px 10px 0px rgba(12, 8, 8, 0.253);
  border-radius: 50px;
}

.inputSearch:focus{
  border: 2px solid rgba(28, 185, 177, 0.863);;
}

#form{
  display: flex;
  justify-content: start;
  align-items: center;
  position: relative;
}

.submitBtn{
  position: absolute;
  padding: 15px;
  font-size: 1.5rem;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  color: rgb(28, 185, 178);
}

.ingred{
  width: 200px;
  height: 50px;
  border-radius: 50px;
  border: 1px solid rgba(0, 255, 0, 0.281);
  background-color: rgba(0, 128, 0, 0.219);
}

.ingred:hover{
  box-shadow: 0px 0px 10px rgba(43, 102, 43, 0.692);
}

.container {
  width: 50vw;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.ingred {
  min-width: 150px;
  min-height: 30px;
  background-color: rgba(0, 255, 0, 0.286);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  box-shadow: 0px 0px 1px black;
  cursor: pointer;
}

.ingred p {
  color: rgba(0, 0, 0, 0.834);
  font-weight: bold;
}

.ingredImage {
  width: 25px;
}

.wrapper{
  text-align: center;
}

.holder{
  width: 50vw;
  margin: 50px auto;
  min-height: 10vh;
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
}

.ingredient-box{
  background-color: rgba(0, 255, 0, 0.286);
}

@media (max-width: 1000px) {
  .wrapper-for-buttons {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
}



@media (max-width: 1000px){
 
  .inputSearch{
    width: 95vw;
    font-size: 1.3rem;
    color: gray;
    padding: 15px;
    padding-left: 50px;
    outline: none;
    border: none;
    box-shadow: 0px 0px 10px 0px rgba(12, 8, 8, 0.253);
    border-radius: 50px;
  }
  
}