*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

canvas{
  position: absolute !important;
  top: 0 !important;
  z-index: -1 !important;
} 

body{
  background-color: ghostwhite;
  font-family: sans-serif;
  color: rgba(44, 39, 39, 0.712);
  font-weight: 100;
  overflow-x: hidden !important;
  overflow-y: scroll;
}

.wrap{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  min-height: 5px;
  min-width: 450px;
}

/* this is the loading animation icon */

.pot{
  width: 40px;
  animation-timing-function: linear;
  animation-name: pot;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  overflow: hidden;
}

@keyframes pot {
  0%   { transform: scale(1,1)    translateY(0); }
 10%  { transform: scale(1.1,.9) translateY(0); }
 30%  { transform: scale(.9,1.1) translateY(-10px); }
 50%  { transform: scale(1,1)    translateY(0); }
 57%  { transform: scale(1,1)    translateY(-7px); }
 64%  { transform: scale(1,1)    translateY(0); }
 100% { transform: scale(1,1)    translateY(0); }
}

h1{
  font-family: 'Roboto', sans-serif;
  font-size: 2.3rem;
  margin-bottom: 20px;
  margin-top: 40px;
  text-align: center;
  min-width: 100vw;
}

.wrapper-for-buttons{
  margin: 0px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  max-height: 165px;
  min-height: 165px;
  overflow: auto;
  border: 5px rgba(0, 255, 0, 0.356) dashed;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: inset 10px 0px 5px 0px rgba(0, 0, 0, 0.123);
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: darkgray lightgray; /* Firefox */

  /* Webkit (Chrome, Safari, Opera) */
  &::-webkit-scrollbar {
    width: 15px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #f94327;
    background-image: linear-gradient(316deg, #f94327 0%, #ff7d14 74%);
    border: 2px solid transparent;
    border-radius: 8px;
    background-clip: padding-box;  

    box-shadow: inset 0 0 1px rgba(15, 15, 15, 0.466);
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
}

.inputSearch{
  width: 60vw;
  font-size: 1.3rem;
  color: gray;
  padding: 15px;
  padding-left: 50px;
  outline: none;
  border: none;
  box-shadow: 0px 0px 10px 0px rgba(12, 8, 8, 0.253);
  border-radius: 50px;
}

.inputSearch:focus{
  border: 2px solid rgba(28, 185, 177, 0.863);
}

#form{
  display: flex;
  justify-content: start;
  align-items: center;
  position: relative;
  /* margin-bottom: 50px; */
}

.submitBtn{
  position: absolute;
  padding: 15px;
  font-size: 1.5rem;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  color: rgb(28, 185, 178);
}

.container {
  width: 50vw;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.ingred {
  background-color: rgba(0, 255, 0, 0.356);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.199);
  cursor: pointer;
  border-radius: 50px;
  padding: 5px 10px 5px 10px;
}

.ingred:hover{
  animation-name: move;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  background: linear-gradient(0.25turn, transparent, #fff, transparent),
  linear-gradient(#eee, #eee),
  radial-gradient(38px circle at 19px 19px, #eee 50%, transparent 51%),
  linear-gradient(#eee, #eee);
  background-repeat: no-repeat;
  background-position: -115px 0, 0 0, 0px 190px, 50px 195px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.137);
}

@keyframes move {
  to {
    background-position: 315px 0, 0 0, 0 190px, 50px 195px;
  }
}

.ingred p {
  color: rgba(0, 0, 0, 0.834);
  font-weight: bold;
}

.ingredImage {
  width: 30px;
}

.wrapper{
  text-align: center;
}

.wrapper-for-image{
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.item-list{
  gap: 1px;
  min-height: 50px;
  display:grid;
  grid-template-columns: 1fr 1fr;
}

.potImage {
  width: 350px;
}

.new-item-list{
  margin: auto;
  background-color: #FFE9A2;
  font-size: 1.1rem;
  color: rgb(26, 24, 24);
  font-weight: bold;
  max-width: 800px;
  line-height: 2rem;
  border-radius: 20px;
  position: relative;
  padding: 40px;
  font-family: 'Roboto', sans-serif;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.342);
  max-height: 100vh;
  overflow-y: scroll;
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: darkgray lightgray; /* Firefox 
  /* Webkit (Chrome, Safari, Opera) */
  &::-webkit-scrollbar {
    width: 15px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #f94327;
    background-image: linear-gradient(316deg, #f94327 0%, #ff7d14 74%);
    border: 2px solid transparent;
    border-radius: 8px;
    background-clip: padding-box;  
    box-shadow: inset 0 0 1px rgba(15, 15, 15, 0.466);
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
}

.new-item-list pre{
  max-width: 100%; 
  white-space: pre-wrap;
}

.module-outer{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;  
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);  
  background: rgba(90, 109, 131, 0.548);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}

.x-mark{
  color: rgba(0, 0, 0, 0.753);
  font-size: 2rem;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  transition: 1s;
}

.x-mark:hover{
  transform: rotate(360deg);
  transition: 1s;
}

.item_el{
  height: 50px;
  display: flex;
  font-weight: bold;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color:  rgba(255, 0, 0, 0.356);
  cursor: pointer;
  position: relative;
}

.x_tag{
  position: absolute;
  right: 20px;
  font-size: 1.3rem;
  transition: .2s;
  margin: 0;
  padding: 0;
}

.x_tag:hover{
  font-size: 2rem;
}

.ranBtn{
  cursor: pointer;
  padding: 5px 10px;
  color: black;
  font-weight: bold;
  font-size: 1rem;
  border: none;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.733);
  display: flex;
  justify-content: center;
  align-items: center;
}

.ranBtnImg{
  width: 30px;
}

.recipeBtnPartOne{
  opacity: 40%;
  background-image: linear-gradient(to right, #FF512F 0%, #F09819  51%, #FF512F  100%);
  margin: 10px;
  padding: 15px 45px;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  transition: 1s;
  cursor:not-allowed;
}
         
.recipeBtn {
  background-image: linear-gradient(to right, #FF512F 0%, #F09819  51%, #FF512F  100%);
  margin: 10px;
  padding: 15px 45px;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.301);
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.329);
  font-weight: bold;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
}

.recipeBtn:hover {
  background-position: right center; 
  color: #fff;
  text-decoration: none;
}

.holder{
  text-align: center;
}

@media (max-width: 1000px) {

  .wrapper-for-buttons {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .inputSearch{
    width: 95vw;
    font-size: 1rem;
    color: gray;
    padding: 15px;
    padding-left: 45px;
  }
  .item-list{
    gap: 1px;
    grid-template-columns: 1fr;
  }

  .new-item-list{
    width: 95vw;
  }

  .x_tag{
    position: absolute;
    right: 20px;
    font-size: 2rem;
    transition: .2s;
    margin: 0;
    padding: 0;
  }

  .x_tag:hover{
    font-size: 2rem;
  }

  .ingred:hover{
    animation-name: unset;
    background: unset;
    background-color: rgba(0, 255, 0, 0.356);
  }

  .module-outer{
    overflow-y: hidden;
    overflow-x: hidden;
  } 

  .wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    min-height: unset;
    min-width: unset;
  }

  .x-mark{
    color: rgba(0, 0, 0, 0.753);
    font-size: 2.2rem;
    position: absolute;
    right: 5px;
    top: 10px;
    cursor: pointer;
  }
  
  .x-mark:hover{
    transform: unset;
    transition: unset;
  }

  .new-item-list{
    margin: auto;
    background-color: #FFE9A2;
    font-size: 1.1rem;
    color: rgb(26, 24, 24);
    font-weight: bold;
    max-width: 800px;
    line-height: 2rem;
    border-radius: 20px;
    position: relative;
    padding: 40px;
    max-height: 70vh;
    overflow-y: scroll;
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: darkgray lightgray; /* Firefox 
    /* Webkit (Chrome, Safari, Opera) */
    /* z-index: -1; */
  }

  .new-item-list pre{
    max-width: 100%; 
    white-space: pre-wrap;
  }
}




